VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_API_BASE_URL=http://localhost:3001

# Backblaze B2 Configuration
VITE_B2_ENDPOINT=s3.us-east-005.backblazeb2.com
VITE_B2_BUCKET_NAME=videosia
VITE_B2_REGION=us-east-005
VITE_B2_KEY_ID=005c2b526be0baa0000000038
VITE_B2_APPLICATION_KEY=K005FWo0MAn5c1kM8KnLxsFWBjTKChs

